<div class="container house-system-container">
    <form action="{% url 'recalculate_chart' %}" method="GET">
        {% csrf_token %}
        <label for="house_system">House System:</label>
        <select name="house_system" id="house_system">
            <option value="P" {% if current_house_system == 'P' %}selected{% endif %}>Placidus</option>
            <option value="K" {% if current_house_system == 'K' %}selected{% endif %}>Koch</option>
            <option value="O" {% if current_house_system == 'O' %}selected{% endif %}>Porphyry</option>
            <option value="R" {% if current_house_system == 'R' %}selected{% endif %}>Regiomontanus</option>
            <option value="C" {% if current_house_system == 'C' %}selected{% endif %}>Campanus</option>
            <option value="E" {% if current_house_system == 'E' %}selected{% endif %}>Equal</option>
            <option value="W" {% if current_house_system == 'W' %}selected{% endif %}>Whole Sign</option>
        </select>
        <button type="submit">Redraw Houses</button>
    </form>
</div>