<section id="navbar">
    <div class="container">
        <ul class="navbar-nav">
            {% if user.is_authenticated %}
                <li
                    {% if 'wheel' in request.path %}
                        class="nav-item active"
                    {% else %}
                        class="nav-item"
                    {% endif %}
                >
                    <a href="{% url 'wheel' %}" class="nav-link">
                        @{{ user.username }}'s Wheel
                    </a>
                </li>
                <li class="nav-item">
                    <a href="javascript:{document.getElementById('logout').submit()}">
                        <i class="fas fa-sign-out-alt"></i> Logout
                    </a>
                    <form action="{% url 'logout' %}" method="POST" class="" id="logout">
                        {% csrf_token %}
                        <input type="hidden">
                    </form>
                </li>
            {% else %}
                <li
                    {% if 'register' in request.path %}
                        class="nav-item active"
                    {% else %}
                        class="nav-item"
                    {% endif %}
                >
                    <a href="{% url 'login' %}" class="nav-link">
                        <i class="fas fa-sign-in-alt"></i> Login
                    </a>
                </li>
            {% endif %}
        </ul>
    </div>
</section>