{% extends 'base.html' %}
{% load static %}
{% load sass_tags %}

{% block title %}New Player{% endblock %}

{% block extrastyle %}
<!-- <link rel="stylesheet" href="{% sass_src 'styles/geocode.scss' %}"> -->
{% endblock %}

{% block header %}
<h1>New Player</h1>
{% endblock %}

{% block content %}
<section id="register">
    <div class="container">
        <div class="row">
            <div class="column">
                <div class="card">
                    <div class="card-header">
                        <!-- Currently no card header -->
                    </div>
                    <div class="card-body">
                        {% include 'partials/_alerts.html' %}
                        <form action="{% url 'register' %}" method="post">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="signup_code">Signup Code</label>
                                <input type="text" name="signup_code" class="form-control" required placeholder="a unique code you received">
                            </div>
                            <div class="form-group">
                                <label for="first_name">First Name</label>
                                <input type="text" name="first_name" class="form-control" required>
                            </div>
                            <div class="form-group">
                                <label for="last_name">Last Name</label>
                                <input type="text" name="last_name" class="form-control" required>
                            </div>
                            <div class="form-group">
                                <label for="username">Username</label>
                                <input type="text" name="username" class="form-control" required>
                            </div>
                            <div class="form-group">
                                <label for="email">Email</label>
                                <input type="email" name="email" class="form-control" required>
                            </div>
                            <div class="form-group">
                                <label for="password">Password</label>
                                <input type="password" name="password" class="form-control" required>
                            </div>
                            <div class="form-group">
                                <label for="password2">Repeat Password</label>
                                <input type="password" name="password2" class="form-control" required>
                            </div>
                            <div class="form-group">
                                <label for="birth_date">Birth Date</label>
                                <input type="date" name="birth_date" class="form-control" required>
                            </div>
                            <div class="form-group">
                                <label for="birth_time">Birth Time</label>
                                <input type="time" name="birth_time" class="form-control" required>
                            </div>
                            <div class="form-group">
                                <label for="is_dst">Daylight Saving Time (DST) in effect?</label>
                                <select name="is_dst" id="dst-check" class="form-control">
                                    <option value="">Auto-detect</option>
                                    <option value="true">Yes</option>
                                    <option value="false">No</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label id="birth-location-label" for="birth_location">Birth Location
                                    <input type="number" id="birth-lat" name="birth_lat" class="form-control" readonly step="0.000001" placeholder="Latitude">
                                    <input type="number" id="birth-lon" name="birth_lon" class="form-control" readonly step="0.000001" placeholder="Longitude">
                                </label>
                                <div class="location-container">
                                    <small class="form-text text-muted">Select from suggestions to populate lat/lon</small>
                                    <input type="text" id="birth_location" name="birth_location" placeholder="Type the first few characters of your birth city…." class="form-control" required>
                                    <div class="location-suggestions" style="display: none;"></div>
                                </div>
                            </div>
                            <div class="form-group">
                                <!-- <input type="number" id="birth-lat" name="birth_lat" readonly step="0.000001" placeholder="Latitude">
                                <input type="number" id="birth-lon" name="birth_lon" readonly step="0.000001" placeholder="Longitude"> -->
                            </div>

                            <div class="form-group">
                                <label for="submit" style="visibility: hidden;">Ready Player Register</label>
                                <input type="submit" value="Ready Player!" id="ready-player-register" class="btn">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% include 'partials/_alerts.html' %}

<script src="{% static 'scripts/geocode.js' %}"></script>

{% endblock %}
