{% extends 'base.html' %}
{% load static %}

{% block title %}Home{% endblock %}
{% block content %}
<section>
    <h3>Welcome to the</h3>
    <h1>Disco</h1>
    <h1>Inferno</h1>
    <h2 class="icon-title">
        <i class="fa-solid fa-fire fa-2x"></i>
    </h2>
</section>

<!-- <section class="link-wrapper">
    <span class="link-span">
        <a href="{% url 'login' %}">Login</a>
    </span>
    <span class="link-span">
        <a href="{% url 'register' %}">Register</a>
    </span>
</section> -->

<section id="hook-section" class="section hook-section">
    <ul class="link-wrapper">
        {% if user.is_authenticated %}
            <a href="{% url 'wheel' %}" class="nav-link">
                @{{ user.username }}'s Wheel
            </a>
        {% else %}
            <a class="nav-link" href="wheel">Your Wheel</a>
        </ul>
        {% endif %}
</section>

{% include 'partials/_alerts.html' %}

{% endblock %}