{% extends 'base.html' %}
{% load static %}
{% load sass_tags %}

{% block title %}Wheel{% endblock %}

{% block extrastyle %}
<!-- <link rel="stylesheet" href="{% static 'styles/wheel.scss' %}"> -->
 <link rel="stylesheet" href="{% sass_src 'styles/wheel.scss' %}" />
{% endblock %}

{% block content %}
<section>
    <div class="title-wrapper">
        <div class="wheel-title">
            <h2 class="the-title">{{ user.username }}'s</h2>
            <h1 class="main-title">Wheel</h1>
        </div>
    </div>
</section>

<!-- Breadcrumb -->
<section id="bc">
    <div class="container breadcrumb-container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="{% url 'index' %}">
                        <i class="fa-solid fa-fire"></i>
                    </a>
                </li>
                <li class="breadcrumb-item active">@{{ user.username }}'s Wheel</li>
            </ol>
        </nav>
    </div>
</section>

<section class="wheel" id="section-wheel">
    <div class="container canvas-container" id="wheel-canvas-container">
        <div id="wheel-canvas"></div>
    </div>
</section>

<div class="wheel-controls">
    {% include 'partials/_aspect-overlay.html' %}
    
    {% include 'partials/_house-system.html' %}
</div>


<!-- <script>
    const elementalDataLocation = "/api/elemental/"
</script> -->

<script>
    window.wheelData = {{ wheel_data|safe }};
</script>
<!-- signData: {{ sign_data_json|safe }},
houseData: {{ house_data_json|safe }},
aspectData: {{ aspect_data_json|safe }}, -->

<script src="{% static 'scripts/aspect.js' %}?v={{ timestamp }}"></script>
<script src="{% static 'scripts/tooltip.js' %}?v={{ timestamp }}"></script>
<script src="{% static 'scripts/syzygy.js' %}?v={{ timestamp }}"></script>
<script src="{% static 'scripts/wheel.js' %}?v={{ timestamp }}"></script>

{% include 'partials/_alerts.html' %}

{% endblock %}