{% extends 'base.html' %}
{% load static %}

{% block title %}Wheel{% endblock %}

{% block extrastyle %}
<link rel="stylesheet" href="{% static 'styles/wheel.css' %}">
{% endblock %}

{% block content %}
<section>
    <div class="title-wrapper">
        <div class="wheel-title">
            <h2 class="the-title">{{ user.username }}'s</h2>
            <h1 class="main-title">Wheel</h1>
        </div>
    </div>
</section>

<!-- Breadcrumb -->
<section id="bc">
    <div class="container breadcrumb-container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="{% url 'index' %}">
                        <i class="fa-solid fa-fire"></i>
                    </a>
                </li>
                <li class="breadcrumb-item active">@{{ user.username }}'s Wheel</li>
            </ol>
        </nav>
    </div>
</section>

<section class="wheel" id="section-wheel">
    <div class="container canvas-container" id="wheel-canvas-container">
        <div id="wheel-canvas"></div>
    </div>
</section>

{% include 'partials/_house-system.html' %}

<!-- <script>
    const elementalDataLocation = "/api/elemental/"
</script> -->

<script>
    window.wheelData = {
        planets: {{ planets_json|safe }},
        houses: {{ houses_json|safe }},
        signs: {{ signs_json|safe }},
        element_counts: {{ element_counts_json|safe }},
        signData: {},
        houseData: {},
        aspectData: {},
        planetSymbols: {{ planet_symbols_json|safe }},
        signSymbols: {{ sign_symbols_json|safe }}
    };
</script>
<!-- signData: {{ sign_data_json|safe }},
houseData: {{ house_data_json|safe }},
aspectData: {{ aspect_data_json|safe }}, -->

<script src="{% static 'scripts/tooltip.js' %}?v={{ timestamp }}"></script>
<script src="{% static 'scripts/wheel.js' %}?v={{ timestamp }}"></script>

{% include 'partials/_alerts.html' %}

{% endblock %}