{% load static %}
{% load sass_tags %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2.0" />
        <meta name="author" content="Disco DeDisco" />
        <meta name="robots" content="noindex, nofollow" />
        <link rel="stylesheet" href="{% sass_src 'styles/base.scss' %}" />
        <link rel="stylesheet" href="https://use.typekit.net/xyl4lwg.css" />
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
        />
        {% block extrastyle %}{% endblock %}
        <title>Disco Inferno | {% block title %}{% endblock %}</title>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/7.9.0/d3.min.js"></script>
        <script src="{% static 'scripts/base.js' %}" defer></script>
    </head>
    <!-- Topbar -->
    {% include 'partials/_topbar.html' %}
    <!-- Navbar -->
    {% include 'partials/_navbar.html'%}

    <!-- Header -->
    <header>
        {% block header %}
        {% endblock %}
    </header>

    <!-- Main Body -->
    <body>
        {% block content %} {% endblock%}
        
    </body>
    <!-- Footer -->
    {% include 'partials/_footer.html' %}
</html>
