#wheel-canvas {
    width: 90%;
    max-width: 800px;
    margin: 0 auto;
    aspect-ratio: 1 / 1;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1rem 0;
}

ul .navbar-nav {
    display: flex;
    align-items: center;
    /* position: relative;
    display: inline-block; */
}

.house-fill {
    fill: transparent;
    pointer-events: all;
    transition: fill 0.2s ease;

    &:hover {
        fill: rgba(var(--priYl), 0.1);
    }
}

svg {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    touch-action: manipulation;
}