#wheel-canvas {
    width: 90%;
    max-width: 800px;
    margin: 0 auto;
    aspect-ratio: 1 / 1;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1rem 0;
}

ul .navbar-nav {
    display: flex;
    align-items: center;
    /* position: relative;
    display: inline-block; */
}

/* .house-number:hover {
    color: rgba(var(--priYl), 1);
    text-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.25);
} */

.house-fill {
    fill: transparent;
    pointer-events: all;
    transition: fill 0.2s ease;

    &:hover {
        fill: rgba(var(--priYl), 0.25);
    }
}

.sign-group:hover .sign-path {
    fill: transparent !important;
    transition: fill 0.2s ease;
}

.sign-path {
    transition: fill 0.2s ease;
}

svg {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    touch-action: manipulation;
}